# ML PIPELINE HANDS-ON PROJECT

GROUP NAME <br>
GROUP MEMBER NAME:

## Section 1: Conduct simple data exploration and data analysis on the given dataset

### 1)Display the number of attributes available in the dataset (exam_dataset.csv)?

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("exam_dataset_PROJECT.csv")
df

,Age,BusinessTravel,MonthlyIncome,JobSatisfaction,Bonus,Department,DistanceFromHome,Education,EducationField,EmployeeCount,...,JobRole,MaritalStatus,PerformanceRating,StockOptionLevel,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsSinceLastPromotion,OverTime,Attrition
0,41,Travel_Rarely,5993,4,17979,Sales,1,2,Life Sciences,1,...,Sales Executive,Single,3,0,0,1,6,0,Yes,Yes
1,49,Travel_Frequently,5130,2,20520,Research & Development,8,1,Life Sciences,1,...,Research Scientist,Married,4,1,3,3,10,1,No,No
2,37,Travel_Rarely,2090,3,6270,Research & Development,2,2,Other,1,...,Laboratory Technician,Single,3,0,3,3,0,0,Yes,Yes
3,33,Travel_Frequently,2909,3,8727,Research & Development,3,4,Life Sciences,1,...,Research Scientist,Married,3,0,3,3,8,3,Yes,No
4,27,Travel_Rarely,3468,2,10404,Research & Development,2,1,Medical,1,...,Laboratory Technician,Married,3,1,3,3,2,2,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,Travel_Frequently,2571,4,7713,Research & Development,23,2,Medical,1,...,Laboratory Technician,Married,3,1,3,3,5,0,No,No
1466,39,Travel_Rarely,9991,1,29973,Research & Development,6,1,Medical,1,...,Healthcare Representative,Married,3,1,5,3,7,1,No,No
1467,27,Travel_Rarely,6142,2,24568,Research & Development,4,3,Life Sciences,1,...,Manufacturing Director,Married,4,1,0,3,6,0,Yes,No
1468,49,Travel_Frequently,5390,2,16170,Sales,2,3,Medical,1,...,Sales Executive,Married,3,0,3,2,9,0,No,No
1469,34,Travel_Rarely,4404,3,13212,Research & Development,8,3,Medical,1,...,Laboratory Technician,Married,3,0,3,4,4,1,No,No

## 2)Find the dimension number of your dataset

In [5]:
df.shape

(1470, 24)

### 3) Display the average of these attributes: ‘Age’, ‘Bonus’ and ‘Years atCompany’. Be sure to round your answer to 4 decimal places

### 4) Find the minimum and maximum ‘Bonus’

### 5) What are the departments in this dataset?

### 6) Provide graphical visualization by plotting Histogram of ‘JobSatisfaction’ vs staff numbers’

### 7.Find the correlation between ‘Bonus’ and ‘JobSatisfaction’

### 8.Based on your findings, discuss briefly (you can either use comments/markdown to write your answer) on:

- **Range of bonus at Company A** <br>
    . <br>


- **Most and Least Frequent JobSatisfaction at Company A** <br>
   .   <br>
 

- **Discuss your observation on the distribution of bonus values** <br>
     <br>


- **Is there a linear relationship between bonus and JobSatisfaction at the company??**<br>
   .

## B) Classification using Random Forest for: ‘Age’, ‘BusinessTravel’, ‘MonthlyIncome’ and ‘JobSatisfaction’ to predict ‘Attrition’. Sample steps are as below:”

### 1) Import necessary libraries

### 2) Import dataset

### 3) Allocate the relevant attributes as input and output

### 4) Use LabelEncoder to encode categorical data

### 5) Split your data into training and test sets with the appropriate proportions

### 6) Normalized your data using StandardScaler

### 7) Fit the and predict results using the Naïve Bayes Classifier

### 8) Evaluate your results using confusion matrix and calculate the prediction accuracy

### 9) Discuss your results and findings

- our main concern is to find the classification of attrition rate by considering the Age,BusinessTravel  MonthlyIncome and JobSatisfaction. 
- Our **independent** variables `Age`, `BusinessTravel`, `MonthlyIncome` and `JobSatisfaction`
- Our **dependent** variable: `Attrition`
- One of the attributes which is `Business Travel` consist of categorical data. Thus we encode the attribute before applying the model.
- Using Random Forest Classifier model, we used 80% of the observations (train set) and fit in our model. While the remaining 20% are used to test the accuracy of the model.
- The model has 79.93197278911565% accuracy.

## Section 3 : Clustering comparison between K-Means and DBSCAN

## A) Perform K-Means clustering (use WCSS to help find best K value) on the givendataset, display clustering results with graphical visualization, provide any necessarycomments and discussions.

### 1) Import necessary libraries

### 2) Import dataset

#### Discussion 

- Based on WCSS, the optimized number of clusters is 4.
- The silhouette score using KMeans is:  0.4329118241119466

## 2) Perform DBSCAN clustering (use knee locator to help find optimal parameter) on thegiven dataset, display clustering results with graphical visualization, provide anynecessary comments and discussions.

#### Discussion 
- The optimized parameter for knee is .
- The silhouette score using DBSCAN is:  .

## 3) Conduct comparison studies on the two techniques (K-Means and DBSCAN), with graphical visualization comparisons, discuss your results and decide on whether:

- Graph 1 and Graph 2 shown how the data being clusterized by K-mean and DBSCAN. 
- Generally silhouette score use to measure the accuracy of model in clustering the data. Basically, The silhouette score of 1 means that the clusters are very dense and nicely separated. The score of 0 means that clusters are overlapping. The score of less than 0 means that data belonging to clusters may be wrong/incorrect.
- For this data, we find that the K-Mean have 0.4329118241119466 silhouette score, meanwhile the DBSCAN have 0.2144392865052958. silhouette score.
- General understnding of Silhouette score justify that the `K-Means is the better clustering technique for this dataset`
- On the other hand based on the figures plotted, the 2 clusters from DBSCAN is best-suited to represent the sinusoidal-like behaviour of the data in comparison with output from K-Means where there are 4 clusters.
- Hence, `There’s no clear distinction between the two techniques for this dataset`